In [73]:
import numpy as np
import pandas as pd
import talib
import numpy
import datetime as dt

In [65]:
df= pd.read_excel(r'gbp_usd_1h.xlsx')

In [66]:
df['atr'] = talib.ATR(
    df['high'],
    df['low'],
    df['close'],
    timeperiod=14
)

In [67]:
df['ma'] = talib.KAMA(
    df['close'],
    timeperiod=14
)

In [68]:
df = df.iloc[25:]

In [71]:
df : pd.DataFrame= df.reset_index(drop = True)

In [77]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [79]:
df['timestamp'] = df['datetime'].apply(lambda d: int(d.timestamp()))

In [120]:
array = numpy.array(df[['timestamp','close','low', 'atr']])

In [121]:
array[:,3]

array([0.00223147, 0.00214137, 0.00211484, ..., 0.0015302 , 0.00165161,
       0.00172364], shape=(35566,))

In [146]:
patterns = []
array_size = array.shape[0]
for i,element in enumerate(array):
    if i == array_size - 7:
        break

    pat = array[i:i+7,:].copy()

    pat[:,1] = pat[:,1] - min(pat[:,2])
    pat[:,1] = pat[:,1] / pat[:,3]
    pat = pat[:, 1]
    patterns.append(pat)

In [147]:
any_pat = patterns[10]

In [150]:
X = any_pat[0:6]

In [151]:
Y = any_pat[6]

In [155]:
patterns = numpy.array(patterns)

In [157]:
final_df = pd.DataFrame(patterns)

In [158]:
final_df

              0         1         2         3         4         5         6
0      0.533280  0.438972  1.115923  1.534093  0.694402  0.231913  0.616412
1      0.438972  1.115923  1.534093  0.694402  0.231913  0.616412  0.140789
2      1.456375  1.879264  1.034518  0.572683  0.968648  0.502817  0.278409
3      2.382638  1.530519  1.069639  1.482325  1.030775  0.819759  0.925928
4      2.602827  2.144011  2.592845  2.172170  1.990106  2.100150  0.393265
...         ...       ...       ...       ...       ...       ...       ...
35554  0.840533  0.446368  0.970090  1.383061  1.340325  1.275419  0.756553
35555  0.714188  1.222161  1.627130  1.587424  1.528966  1.008737  0.909602
35556  1.222161  1.627130  1.587424  1.528966  1.008737  0.909602  1.273451
35557  2.440695  2.411087  2.374123  1.849352  1.723067  2.078506  1.908251
35558  2.411087  2.374123  1.849352  1.723067  2.078506  1.908251  2.918362

[35559 rows x 7 columns]