In [161]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [162]:
df = pd.read_excel('komari.xlsx')

In [163]:
df.columns

Index(['45', '1', '11', '59.00', '3.00', '29.00', '2.00', '2', '14', '0',
       '2_1', '5', 'f', '4', '0_1', '1_1', '1_2', '1_3', '0_2', '0_3', '1_4',
       '1_5', '1_6', '1_7', '0_4', '1_8', '0_5', '0_6', '1_9', '1_10',
       '3.00_1', '2_2', '4_1', '0.23934', 'Column_35', '3', '2.00_1'],
      dtype='object')

In [164]:
df = df.rename(columns=
{
    '45' : 'col_0',
    '1' : 'col_1',
    '11' : 'col_2',
    '59.00' : 'col_3',
    '3.00' : 'col_4',
    '29.00' : 'col_5',
    '2.00' : 'col_6',
    '2' : 'col_7',
    '14' : 'col_8',
    '0' : 'col_9',
    '2_1' : 'col_2_1',
    '5' : 'col_10',
    'f' : 'col_f',
    '4' : 'col_12',
    '0_1' : 'col_0_1',
    '1_1' : 'col_1_1',
    '1_2' : 'col_1_2',
    '1_3' : 'col_1_3',
    '0_2' : 'col_0_2',
    '0_3' : 'col_0_3',
    '1_4' : 'col_1_4',
    '1_5' : 'col_1_5',
    '1_6' : 'col_1_6',
    '1_7' : 'col_1_7',
    '0_4' : 'col_0_4',
    '1_8' : 'col_1_8',
    '0_5' : 'col_0_5',
    '0_6' : 'col_0_6',
    '1_9' : 'col_1_9',
    '1_10' : 'col_1_10',
    '3.00_1' : 'col_3.00_1',
    '2_2' : 'col_2_2',
    '4_1' : 'col_4_1',
    '0.23934' : 'col_',
    'Column_35' : 'Column_35',
    '3' : 'col_13',
    '2.00_1' : 'col_2.00_1',
})

df = df.drop(columns=['Column_35'])

In [165]:
df['col_f'] = (df['col_f'] == 'f').map({True: 1, False: 0})

In [166]:
df['col_0'].describe()

count    6399.000000
mean       42.058134
std        12.290421
min        18.000000
25%        33.000000
50%        41.000000
75%        51.000000
max        77.000000
Name: col_0, dtype: float64

In [167]:
def transfer_col_0_reduce_dims(value : int):
    if value < 33:
        return 0
    if 33 <= value < 41:
        return 1
    if 41 <= value < 51:
        return 2
    else:
        return 3

df['col_0_transform'] = df['col_0'].apply(transfer_col_0_reduce_dims)

In [168]:
df_corr = df.corr()

In [169]:
for col in df_corr.columns:
    df_corr[col] = df_corr[col].apply(lambda x: x if abs(x) > 0.4 else pd.NA)

In [170]:
df_corr

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_0_6,col_1_9,col_1_10,col_3.00_1,col_2_2,col_4_1,col_,col_13,col_2.00_1,col_0_transform
col_0,1.0,<NA>,0.614784,<NA>,<NA>,<NA>,<NA>,<NA>,0.619956,0.419844,...,<NA>,<NA>,<NA>,0.882284,<NA>,<NA>,1.0,0.944829,0.899506,0.94297
col_1,<NA>,1.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_2,0.614784,<NA>,1.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,0.545612,<NA>,<NA>,0.614784,0.585273,0.55506,0.583535
col_3,<NA>,<NA>,<NA>,1.0,0.647927,0.792142,0.586826,<NA>,0.5792,<NA>,...,<NA>,<NA>,<NA>,<NA>,0.804157,<NA>,<NA>,<NA>,<NA>,<NA>
col_4,<NA>,<NA>,<NA>,0.647927,1.0,0.878317,0.899122,<NA>,0.567697,<NA>,...,<NA>,<NA>,<NA>,<NA>,0.889777,<NA>,<NA>,<NA>,<NA>,<NA>
col_5,<NA>,<NA>,<NA>,0.792142,0.878317,1.0,0.812061,<NA>,0.638727,<NA>,...,<NA>,<NA>,<NA>,<NA>,0.927854,<NA>,<NA>,<NA>,<NA>,0.416189
col_6,<NA>,<NA>,<NA>,0.586826,0.899122,0.812061,1.0,<NA>,0.533472,<NA>,...,<NA>,<NA>,<NA>,<NA>,0.870234,<NA>,<NA>,<NA>,<NA>,<NA>
col_7,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1.0,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_8,0.619956,<NA>,<NA>,0.5792,0.567697,0.638727,0.533472,<NA>,1.0,<NA>,...,<NA>,<NA>,<NA>,0.551026,0.634032,<NA>,0.619956,0.584195,0.565036,0.594929
col_9,0.419844,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1.0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.419844,<NA>,<NA>,<NA>
col_2_1,0.559675,<NA>,<NA>,0.466122,0.560835,0.581497,0.546651,<NA>,0.879445,<NA>,...,<NA>,<NA>,<NA>,0.520702,0.589185,<NA>,0.559675,0.525971,0.514986,0.554198
col_10,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.484144,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_f,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_12,<NA>,0.655619,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_0_1,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_1_1,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_1_2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_1_3,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_0_2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_0_3,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_1_4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_1_5,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_1_6,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_1_7,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_0_4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_1_8,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_0_5,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_0_6,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_1_9,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,1.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_1_10,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,1.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
col_3.00_1,0.882284,<NA>,0.545612,<NA>,<NA>,<NA>,<NA>,<NA>,0.551026,<NA>,...,<NA>,<NA>,<NA>,1.0,<NA>,<NA>,0.882284,0.841141,0.960794,0.86198
col_2_2,<NA>,<NA>,<NA>,0.804157,0.889777,0.927854,0.870234,<NA>,0.634032,<NA>,...,<NA>,<NA>,<NA>,<NA>,1.0,<NA>,<NA>,<NA>,<NA>,0.424528
col_4_1,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,1.0,<NA>,<NA>,<NA>,<NA>
col_,1.0,<NA>,0.614784,<NA>,<NA>,<NA>,<NA>,<NA>,0.619956,0.419844,...,<NA>,<NA>,<NA>,0.882284,<NA>,<NA>,1.0,0.944829,0.899506,0.94297
col_13,0.944829,<NA>,0.585273,<NA>,<NA>,<NA>,<NA>,<NA>,0.584195,<NA>,...,<NA>,<NA>,<NA>,0.841141,<NA>,<NA>,0.944829,1.0,0.878258,0.912517
col_2.00_1,0.899506,<NA>,0.55506,<NA>,<NA>,<NA>,<NA>,<NA>,0.565036,<NA>,...,<NA>,<NA>,<NA>,0.960794,<NA>,<NA>,0.899506,0.878258,1.0,0.90267
col_0_transform,0.94297,<NA>,0.583535,<NA>,<NA>,0.416189,<NA>,<NA>,0.594929,<NA>,...,<NA>,<NA>,<NA>,0.86198,0.424528,<NA>,0.94297,0.912517,0.90267,1.0

In [171]:
binary_columns = [col for col in df.columns if df[col].value_counts().size == 2]

In [172]:
def _dd(cols : list):

    if len(cols) == 5:
        return None
    
    print('------------------------')
    print('Most possible situations: ',2**len(cols))
    
    most_bad_rank = 0
    for i in cols:
        _ls = cols.copy()
        _ls.remove(i)
        if len(df[_ls].drop_duplicates()) > most_bad_rank:
            most_bad_rank = len(df[_ls].drop_duplicates())
            most_bad_col = i
        print(f'without {i}: ' , len(df[_ls].drop_duplicates()))
    
    print('most bad col is: ', most_bad_col)
    __ls = cols.copy()
    __ls.remove(most_bad_col)
    _dd(__ls)
    
_dd(binary_columns)

------------------------
Most possible situations:  262144
without col_1:  2500
without col_9:  3090
without col_f:  2485
without col_0_1:  2655
without col_1_1:  2554
without col_1_2:  2559
without col_1_3:  2670
without col_0_3:  2577
without col_1_4:  2570
without col_1_5:  3215
without col_1_6:  3142
without col_1_7:  3169
without col_0_4:  2785
without col_1_8:  2602
without col_0_5:  2836
without col_0_6:  2561
without col_1_9:  2887
without col_1_10:  2519
most bad col is:  col_1_5
------------------------
Most possible situations:  131072
without col_1:  2482
without col_9:  3069
without col_f:  2466
without col_0_1:  2636
without col_1_1:  2534
without col_1_2:  2539
without col_1_3:  2652
without col_0_3:  2556
without col_1_4:  2550
without col_1_6:  3123
without col_1_7:  3147
without col_0_4:  2767
without col_1_8:  2578
without col_0_5:  2817
without col_0_6:  2542
without col_1_9:  2869
without col_1_10:  2500
most bad col is:  col_1_7
------------------------
Most possible situations:  65536
without col_1:  2411
without col_9:  2997
without col_f:  2396
without col_0_1:  2565
without col_1_1:  2458
without col_1_2:  2464
without col_1_3:  2576
without col_0_3:  2490
without col_1_4:  2481
without col_1_6:  3034
without col_0_4:  2693
without col_1_8:  2502
without col_0_5:  2744
without col_0_6:  2466
without col_1_9:  2795
without col_1_10:  2432
most bad col is:  col_1_6
------------------------
Most possible situations:  32768
without col_1:  2290
without col_9:  2871
without col_f:  2275
without col_0_1:  2447
without col_1_1:  2334
without col_1_2:  2340
without col_1_3:  2455
without col_0_3:  2366
without col_1_4:  2362
without col_0_4:  2560
without col_1_8:  2383
without col_0_5:  2615
without col_0_6:  2342
without col_1_9:  2669
without col_1_10:  2318
most bad col is:  col_9
------------------------
Most possible situations:  16384
without col_1:  2134
without col_f:  2111
without col_0_1:  2258
without col_1_1:  2169
without col_1_2:  2174
without col_1_3:  2285
without col_0_3:  2186
without col_1_4:  2194
without col_0_4:  2380
without col_1_8:  2210
without col_0_5:  2434
without col_0_6:  2177
without col_1_9:  2501
without col_1_10:  2130
most bad col is:  col_1_9
------------------------
Most possible situations:  8192
without col_1:  1758
without col_f:  1762
without col_0_1:  1882
without col_1_1:  1789
without col_1_2:  1801
without col_1_3:  1909
without col_0_3:  1827
without col_1_4:  1838
without col_0_4:  1966
without col_1_8:  1829
without col_0_5:  2031
without col_0_6:  1808
without col_1_10:  1758
most bad col is:  col_0_5
------------------------
Most possible situations:  4096
without col_1:  1321
without col_f:  1318
without col_0_1:  1390
without col_1_1:  1339
without col_1_2:  1341
without col_1_3:  1438
without col_0_3:  1355
without col_1_4:  1372
without col_0_4:  1469
without col_1_8:  1354
without col_0_6:  1341
without col_1_10:  1313
most bad col is:  col_0_4
------------------------
Most possible situations:  2048
without col_1:  879
without col_f:  875
without col_0_1:  902
without col_1_1:  887
without col_1_2:  880
without col_1_3:  951
without col_0_3:  880
without col_1_4:  891
without col_1_8:  885
without col_0_6:  897
without col_1_10:  871
most bad col is:  col_1_3
------------------------
Most possible situations:  1024
without col_1:  505
without col_f:  505
without col_0_1:  508
without col_1_1:  507
without col_1_2:  507
without col_0_3:  507
without col_1_4:  510
without col_1_8:  504
without col_0_6:  508
without col_1_10:  504
most bad col is:  col_1_4
------------------------
Most possible situations:  512
without col_1:  256
without col_f:  256
without col_0_1:  256
without col_1_1:  256
without col_1_2:  256
without col_0_3:  256
without col_1_8:  256
without col_0_6:  256
without col_1_10:  256
most bad col is:  col_1
------------------------
Most possible situations:  256
without col_f:  128
without col_0_1:  128
without col_1_1:  128
without col_1_2:  128
without col_0_3:  128
without col_1_8:  128
without col_0_6:  128
without col_1_10:  128
most bad col is:  col_f
------------------------
Most possible situations:  128
without col_0_1:  64
without col_1_1:  64
without col_1_2:  64
without col_0_3:  64
without col_1_8:  64
without col_0_6:  64
without col_1_10:  64
most bad col is:  col_0_1
------------------------
Most possible situations:  64
without col_1_1:  32
without col_1_2:  32
without col_0_3:  32
without col_1_8:  32
without col_0_6:  32
without col_1_10:  32
most bad col is:  col_1_1

In [182]:
for col in df_corr.columns:
    print("Column: ", col)
    print(df[col].describe())
    print(df[col].info())
    print('----------------------------------------')

Column:  col_0
count    6399.000000
mean       42.058134
std        12.290421
min        18.000000
25%        33.000000
50%        41.000000
75%        51.000000
max        77.000000
Name: col_0, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_0
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_1
count    6399.000000
mean        0.496171
std         0.500024
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: col_1, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_1
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_2
count    6399.000000
mean       11.559931
std         9.938910
min         0.000000
25%         3.000000
50%         9.000000
75%        17.000000
max        56.000000
Name: col_2, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_2
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_3
count    6399.000000
mean       69.476481
std        78.724606
min         9.000000
25%        28.000000
50%        45.000000
75%        79.000000
max      1116.000000
Name: col_3, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_3
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_4
count    6399.000000
mean        2.528364
std         1.073903
min         1.000000
25%         2.000000
50%         2.000000
75%         4.000000
max         4.000000
Name: col_4, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_4
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_5
count    6399.000000
mean       30.128551
std        21.928626
min         4.200000
25%        13.900000
50%        22.200000
75%        39.500000
max        99.900000
Name: col_5, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_5
Non-Null Count  Dtype
--------------  -----
6399 non-null   float64
dtypes: float64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_6
count    6399.000000
mean        2.069230
std         0.799962
min         1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         3.000000
Name: col_6, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_6
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_7
count    6399.000000
mean        2.587123
std         1.198831
min         1.000000
25%         2.000000
50%         2.000000
75%         4.000000
max         5.000000
Name: col_7, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_7
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_8
count    6399.000000
mean       10.565713
std         9.725123
min         0.000000
25%         3.000000
50%         8.000000
75%        16.000000
max        57.000000
Name: col_8, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_8
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_9
count    6399.000000
mean        0.048133
std         0.214063
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: col_9, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_9
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_2_1
count    6399.000000
mean        1.938115
std         0.791828
min         1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         3.000000
Name: col_2_1, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_2_1
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_10
count    6399.000000
mean        3.057196
std         1.368440
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: col_10, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_10
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_f
count    6399.000000
mean        0.496640
std         0.500028
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: col_f, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_f
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_12
count    6399.000000
mean        2.349430
std         1.468257
min         1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         9.000000
Name: col_12, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_12
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_0_1
count    6399.000000
mean        0.398031
std         0.489530
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: col_0_1, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_0_1
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_1_1
count    6399.000000
mean        0.420378
std         0.493658
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: col_1_1, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_1_1
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_1_2
count    6399.000000
mean        0.430380
std         0.495168
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: col_1_2, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_1_2
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_1_3
count    6399.000000
mean        0.246914
std         0.431250
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: col_1_3, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_1_3
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_0_2
count    6399.000000
mean        0.596187
std         1.679387
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         9.000000
Name: col_0_2, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_0_2
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_0_3
count    6399.000000
mean        0.510549
std         0.499928
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: col_0_3, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_0_3
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_1_4
count    6399.000000
mean        0.507267
std         0.499986
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: col_1_4, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_1_4
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_1_5
count    6399.000000
mean        0.990155
std         0.098741
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: col_1_5, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_1_5
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_1_6
count    6399.000000
mean        0.960150
std         0.195622
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: col_1_6, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_1_6
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_1_7
count    6399.000000
mean        0.969683
std         0.171472
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: col_1_7, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_1_7
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_0_4
count    6399.000000
mean        0.204251
std         0.403184
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: col_0_4, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_0_4
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_1_8
count    6399.000000
mean        0.439131
std         0.496320
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: col_1_8, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_1_8
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_0_5
count    6399.000000
mean        0.187842
std         0.390616
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: col_0_5, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_0_5
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_0_6
count    6399.000000
mean        0.567589
std         0.495449
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: col_0_6, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_0_6
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_1_9
count    6399.000000
mean        0.893890
std         0.308003
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: col_1_9, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_1_9
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_1_10
count    6399.000000
mean        0.422097
std         0.493932
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: col_1_10, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_1_10
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_3.00_1
count    6399.000000
mean        2.994999
std         0.805561
min         1.000000
25%         3.000000
50%         3.000000
75%         4.000000
max         4.000000
Name: col_3.00_1, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_3.00_1
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_2_2
count    6399.000000
mean        2.208783
std         1.243493
min         1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         6.000000
Name: col_2_2, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_2_2
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_4_1
count    6399.000000
mean        4.474762
std         1.034696
min         1.000000
25%         4.000000
50%         4.000000
75%         5.000000
max         8.000000
Name: col_4_1, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_4_1
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_
count    6399.000000
mean       -0.000037
std         1.000074
min        -1.957652
25%        -0.737099
50%        -0.086138
75%         0.727564
max         2.843188
Name: col_, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_
Non-Null Count  Dtype
--------------  -----
6399 non-null   float64
dtypes: float64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_13
count    6399.000000
mean        3.139397
std         0.868113
min         1.000000
25%         3.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: col_13, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_13
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_2.00_1
count    6399.000000
mean        2.059228
std         0.672851
min         1.000000
25%         2.000000
50%         2.000000
75%         3.000000
max         3.000000
Name: col_2.00_1, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_2.00_1
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------
Column:  col_0_transform
count    6399.000000
mean        1.523207
std         1.124502
min         0.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         3.000000
Name: col_0_transform, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 6399 entries, 0 to 6398
Series name: col_0_transform
Non-Null Count  Dtype
--------------  -----
6399 non-null   int64
dtypes: int64(1)
memory usage: 50.1 KB
None
----------------------------------------